BF3_STATS_DB_HOST=127.0.0.1
BF3_STATS_DB_PORT=3306
BF3_STATS_DB_NAME=bf3_dummy_stats
BF3_STATS_DB_USER=root
BF3_STATS_DB_PASS=root

BF3_STATS_CLAN_NAME=Dummy Clan
BF3_STATS_BANNER_IMAGE=/images/bf3-logo.png
BF3_STATS_WEEK_TIME_ZONE=America/Los_Angeles
